<div class="workers-page" ng-init="initWorkersPage();updateWorkers();">
<!--	<a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>-->
	<h2>{{userType==='administrator' ? 'Менеджеры и курьеры' : 'Курьеры'}}</h2>
	<div class="jumbotron">
		<div class="container">
			<div class="managers-list" ng-show="userType==='administrator'">
				<h3 ng-show="workers.managerScreen=='1'">Список менеджеров</h3>
				<h3 ng-show="workers.managerScreen=='2'">Добавление менеджера</h3>
				<h3 ng-show="workers.managerScreen=='3'">Удаление менеджера</h3>
				<h3 ng-show="workers.managerScreen=='4'">Редактирование менеджера</h3>
				<div class="add-delete-buttons" ng-show="workers.managerScreen!=='2' && !workers.showEditManagerForm">
					<a href="" ng-click="workers.managerScreen='2'" class="add-worker-button"><i class="fa fa-user-plus" aria-hidden="true"></i> Добавить менеджера</a>
					<a href="" ng-click="workers.managerScreen='4'" class="add-worker-button"><i class="fa fa-user" aria-hidden="true"></i> Редактировать менеджера</a>
					<a href="" ng-click="workers.managerScreen='3'" class="remove-worker-button"><i class="fa fa-user-times" aria-hidden="true"></i> Удалить менеджера</a>
					<a href="" ng-click="workers.managerScreen='1'" ng-show="workers.managerScreen=='3' || workers.managerScreen=='4'" class="btn btn-danger btn-xs">Отменить</a>
				</div>
				<div class="table-responsive" ng-show="workers.managerScreen=='1'">
					<table class="table table-striped" at-table at-paginated at-list="workers.managersList" at-config="workers.config">
					  <thead></thead>
					  <tbody>
					    <tr>
					      <td at-implicit at-sortable at-attribute="id" at-title="ID"></td>
					      <td at-implicit at-sortable at-attribute="fullName" at-title="ФИО"></td>
					      <td at-implicit at-sortable at-attribute="username" at-title="Логин"></td>
					      <td at-implicit at-sortable at-attribute="email" at-title="E-mail"></td>
					      <td at-implicit at-sortable at-attribute="phone" at-title="Номер телефона"></td>
					      <td at-implicit at-sortable at-attribute="filial_id" at-title="Номер филиала"></td>
					      <td at-implicit at-sortable at-attribute="date_start_work" at-initial-sorting="asc" at-title="Дата начала работы"></td>
					    </tr>
					  </tbody>
					</table>
				</div>
				<at-pagination at-list="workers.managersList" at-config="workers.config" ng-show="workers.managerScreen=='1'"></at-pagination>

				<div class="table-responsive" ng-show="workers.managerScreen=='3'">
					<table class="table table-striped" at-table at-paginated at-list="workers.managersList" at-config="workers.config">
					  <thead></thead>
					  <tbody>
					    <tr>
					      <td at-implicit at-sortable at-attribute="id" at-title="ID"></td>
					      <td at-implicit at-sortable at-attribute="fullName" at-title="ФИО"></td>
					      <td at-implicit at-sortable at-attribute="username" at-title="Логин"></td>
					      <td at-implicit at-sortable at-attribute="email" at-title="E-mail"></td>
					      <td at-implicit at-sortable at-attribute="phone" at-title="Номер телефона"></td>
					      <td at-implicit at-sortable at-attribute="filial_id" at-title="Номер филиала"></td>
					      <td at-implicit at-sortable at-attribute="date_start_work" at-initial-sorting="asc" at-title="Дата начала работы"></td>
					      <td at-implicit at-title="Удалить" ng-click="workers.removeManager(item.id)"><a href=""><i class="fa fa-minus-square-o" aria-hidden="true"></i></a></td>
					    </tr>
					  </tbody>
					</table>
				</div>
				<at-pagination at-list="workers.managersList" at-config="workers.config" ng-show="workers.managerScreen=='3'"></at-pagination>

				<div class="adding-form" ng-show="workers.managerScreen=='2'">
					<form class="form-horizontal" ng-submit="workers.addNewManager();">
					<div class="form-group">
					    <label for="inputUsername1" class="col-sm-2 control-label">Логин</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" ng-model="workers.newManager.username" id="inputUsername1" placeholder="Логин">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputPassword1" class="col-sm-2 control-label">Пароль</label>
					    <div class="col-sm-10">
					      <input type="password" class="form-control" ng-model="workers.newManager.password" id="inputPassword1" placeholder="Пароль">
					    </div>
					  </div>
					 <div class="form-group">
					    <label for="inputName1" class="col-sm-2 control-label">Имя</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" ng-model="workers.newManager.name" id="inputName1" placeholder="Имя">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputSurname1" class="col-sm-2 control-label">Фамилия</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" ng-model="workers.newManager.surname" id="inputSurname1" placeholder="Фамилия">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputMiddlename1" class="col-sm-2 control-label">Отчество</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" ng-model="workers.newManager.middlename" id="inputMiddlename1" placeholder="Отчество">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputEmail1" class="col-sm-2 control-label">E-mail</label>
					    <div class="col-sm-10">
					      <input type="email" class="form-control" ng-model="workers.newManager.email" id="inputEmail1" placeholder="E-mail">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputPhone1" class="col-sm-2 control-label">Номер телефона</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" ng-model="workers.newManager.phone" id="inputPhone1" placeholder="Номер телефона">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputBranch1" class="col-sm-2 control-label">Номер филиала</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" ng-model="workers.newManager.branch" id="inputBranch1" placeholder="Номер филиала">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputDate1" class="col-sm-2 control-label">Дата начала работы</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="workers.newManager.date" is-open="workers.datepickerOptions.opened" datepicker-options="workers.datepickerOptions" id="inputDate1" ng-click="workers.datepickerOptions.open($event)" ng-focus="workers.datepickerOptions.open($event)" />
					    </div>
					  </div>
					  <div class="form-group">
					  <div class="col-sm-offset-4 col-sm-2">
					      <button type="button" ng-click="workers.managerScreen='1'" class="btn btn-default">Назад</button>
					    </div>
					    <div class="col-sm-offset-1 col-sm-2">
					      <button type="submit" class="btn btn-default">Сохранить</button>
					    </div>
					  </div>
					  <div class="form-group form-errors">
					  	<p ng-show="workers.newManager.usernameE"><span>*</span>Введите логин</p>
					  	<p ng-show="workers.newManager.nameE"><span>*</span>Введите имя</p>
					  	<p ng-show="workers.newManager.surnameE"><span>*</span>Введите фамилия</p>
					  	<p ng-show="workers.newManager.middlenameE"><span>*</span>Введите отчество</p>
					  	<p ng-show="workers.newManager.emailE"><span>*</span>Введите e-mail</p>
					  	<p ng-show="workers.newManager.phoneE"><span>*</span>Введите номер телефона</p>
					  	<p ng-show="workers.newManager.branchE"><span>*</span>Введите номер филиала</p>
					  	<p ng-show="workers.newManager.dateE"><span>*</span>Введите дата начала работы</p>
					  </div>
					</form>
				</div>

				<div class="adding-form" ng-show="workers.managerScreen=='4'">
				  <div class="table-responsive" ng-show="!workers.showEditManagerForm">	
					<table class="table table-striped" at-table at-paginated at-list="workers.managersList" at-config="workers.config">
					  <thead></thead>
					  <tbody>
					    <tr>
					      <td at-implicit at-sortable at-attribute="id" at-title="ID"></td>
					      <td at-implicit at-sortable at-attribute="fullName" at-title="ФИО"></td>
					      <td at-implicit at-sortable at-attribute="username" at-title="Логин"></td>
					      <td at-implicit at-sortable at-attribute="email" at-title="E-mail"></td>
					      <td at-implicit at-sortable at-attribute="phone" at-title="Номер телефона"></td>
					      <td at-implicit at-sortable at-attribute="filial_id" at-title="Номер филиала"></td>
					      <td at-implicit at-sortable at-attribute="date_start_work" at-initial-sorting="asc" at-title="Дата начала работы"></td>
					      <td at-implicit at-title="Редактировать" ng-click="workers.showEditManager(item.id)"><a href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
					    </tr>
					  </tbody>
					</table>
				</div>
				<at-pagination at-list="workers.managersList" at-config="workers.config" ng-show="!workers.showEditManagerForm"></at-pagination>

					<form class="form-horizontal" ng-submit="workers.editCurrentManager();" ng-show="workers.showEditManagerForm">
					<div class="form-group">
					    <label for="inputUsername1" class="col-sm-2 control-label">Логин</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" ng-model="workers.editManager.username" id="inputUsername1" placeholder="Логин">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputPassword1" class="col-sm-2 control-label">Пароль</label>
					    <div class="col-sm-10">
					      <input type="password" class="form-control" ng-model="workers.editManager.password" id="inputPassword1" placeholder="Пароль">
					    </div>
					  </div>
					 <div class="form-group">
					    <label for="inputName1" class="col-sm-2 control-label">Имя</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" ng-model="workers.editManager.name" id="inputName1" placeholder="Имя">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputSurname1" class="col-sm-2 control-label">Фамилия</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" ng-model="workers.editManager.surname" id="inputSurname1" placeholder="Фамилия">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputMiddlename1" class="col-sm-2 control-label">Отчество</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" ng-model="workers.editManager.middlename" id="inputMiddlename1" placeholder="Отчество">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputEmail1" class="col-sm-2 control-label">E-mail</label>
					    <div class="col-sm-10">
					      <input type="email" class="form-control" ng-model="workers.editManager.email" id="inputEmail1" placeholder="E-mail">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputPhone1" class="col-sm-2 control-label">Номер телефона</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" ng-model="workers.editManager.phone" id="inputPhone1" placeholder="Номер телефона">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputBranch1" class="col-sm-2 control-label">Номер филиала</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" ng-model="workers.editManager.branch" id="inputBranch1" placeholder="Номер филиала">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputDate1" class="col-sm-2 control-label">Дата начала работы</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="workers.editManager.date" is-open="workers.datepickerOptions.opened" datepicker-options="workers.datepickerOptions" id="inputDate1" ng-click="workers.datepickerOptions.open($event)" ng-focus="workers.datepickerOptions.open($event)" />
					    </div>
					  </div>
					  <div class="form-group">
					  <div class="col-sm-offset-4 col-sm-2">
					      <button type="button" ng-click="workers.showEditManagerForm=false;" class="btn btn-default">Назад</button>
					    </div>
					    <div class="col-sm-offset-1 col-sm-2">
					      <button type="submit" class="btn btn-default">Сохранить</button>
					    </div>
					  </div>
					  <div class="form-group form-errors">
					  	<p ng-show="workers.editManager.usernameE"><span>*</span>Введите логин</p>
					  	<p ng-show="workers.editManager.nameE"><span>*</span>Введите имя</p>
					  	<p ng-show="workers.editManager.surnameE"><span>*</span>Введите фамилия</p>
					  	<p ng-show="workers.editManager.middlenameE"><span>*</span>Введите отчество</p>
					  	<p ng-show="workers.editManager.emailE"><span>*</span>Введите e-mail</p>
					  	<p ng-show="workers.editManager.phoneE"><span>*</span>Введите номер телефона</p>
					  	<p ng-show="workers.editManager.branchE"><span>*</span>Введите номер филиала</p>
					  	<p ng-show="workers.editManager.dateE"><span>*</span>Введите дата начала работы</p>
					  </div>
					</form>
				</div>
			</div>
			<div class="couriers-list" ng-show="userType==='administrator'">
				<h3 ng-show="workers.courierScreen=='1'">Список курьеров</h3>
				<h3 ng-show="workers.courierScreen=='2'">Добавление курьера</h3>
				<h3 ng-show="workers.courierScreen=='3'">Удаление курьера</h3>
				<h3 ng-show="workers.courierScreen=='4'">Редактирование курьера</h3>
				<div class="add-delete-buttons" ng-show="workers.courierScreen!=='2' && !workers.showCourierEditForm">
					<a href="" ng-click="workers.courierScreen='2'" class="add-worker-button"><i class="fa fa-user-plus" aria-hidden="true"></i> Добавить курьера</a>
					<a href="" ng-click="workers.courierScreen='4'" class="add-worker-button"><i class="fa fa-user" aria-hidden="true"></i> Редактировать курьера</a>
					<a href="" ng-click="workers.courierScreen='3'" class="remove-worker-button"><i class="fa fa-user-times" aria-hidden="true"></i> Удалить курьера</a>
					<a href="" ng-click="workers.courierScreen='1'" ng-show="workers.courierScreen=='3' || workers.courierScreen=='4'" class="btn btn-danger btn-xs">Отменить</a>
				</div>
				<div class="table-responsive" ng-show="workers.courierScreen=='1'">
					<table class="table table-striped" at-table at-paginated at-list="workers.couriersList" at-config="workers.config">
					  <thead></thead>
					  <tbody>
					    <tr>
					    	<td at-implicit at-sortable at-attribute="id" at-title="ID"></td>
					      <td at-implicit at-sortable at-attribute="fullName" at-title="ФИО"></td>
					      <td at-implicit at-sortable at-attribute="username" at-title="Логин"></td>
					      <td at-implicit at-sortable at-attribute="email" at-title="E-mail"></td>
					      <td at-implicit at-sortable at-attribute="phone" at-title="Номер телефона"></td>
					      <td at-implicit at-sortable at-attribute="filial_id" at-title="Номер филиала"></td>
					      <td at-implicit at-sortable at-attribute="managerName" at-title="Менеджер"></td>
					      <td at-implicit at-sortable at-attribute="date_start_work" at-initial-sorting="asc" at-title="Дата начала работы"></td>
					    </tr>
					  </tbody>
					</table>
				</div>
				<at-pagination at-list="workers.couriersList" at-config="workers.config" ng-show="workers.courierScreen=='1'"></at-pagination>

				<div class="table-responsive" ng-show="workers.courierScreen=='3'">
					<table class="table table-striped" at-table at-paginated at-list="workers.couriersList" at-config="workers.config">
					  <thead></thead>
					  <tbody>
					    <tr>
					    	<td at-implicit at-sortable at-attribute="id" at-title="ID"></td>
					      <td at-implicit at-sortable at-attribute="fullName" at-title="ФИО"></td>
					      <td at-implicit at-sortable at-attribute="username" at-title="Логин"></td>
					      <td at-implicit at-sortable at-attribute="email" at-title="E-mail"></td>
					      <td at-implicit at-sortable at-attribute="phone" at-title="Номер телефона"></td>
					      <td at-implicit at-sortable at-attribute="filial_id" at-title="Номер филиала"></td>
					      <td at-implicit at-sortable at-attribute="managerName" at-title="Менеджер"></td>
					      <td at-implicit at-sortable at-attribute="date_start_work" at-initial-sorting="asc" at-title="Дата начала работы"></td>
					      <td at-implicit at-title="Удалить" ng-click="workers.removeCourier(item.id)"><a href=""><i class="fa fa-minus-square-o" aria-hidden="true"></i></a></td>
					    </tr>
					  </tbody>
					</table>
				</div>
				<at-pagination at-list="workers.couriersList" at-config="workers.config" ng-show="workers.courierScreen=='3'"></at-pagination>

				<div class="adding-form" ng-show="workers.courierScreen=='2'">
					<form class="form-horizontal" ng-submit="workers.addNewCourier();">
					<div class="form-group">
					    <label for="inputUsername2" class="col-sm-2 control-label">Логин</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" ng-model="workers.newCourier.username" id="inputUsername2" placeholder="Логин">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputPassword2" class="col-sm-2 control-label">Пароль</label>
					    <div class="col-sm-10">
					      <input type="password" class="form-control" ng-model="workers.newCourier.password" id="inputPassword2" placeholder="Пароль">
					    </div>
					  </div>
					 <div class="form-group">
					    <label for="inputName2" class="col-sm-2 control-label">Имя</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" ng-model="workers.newCourier.name" id="inputName2" placeholder="Имя">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputSurname2" class="col-sm-2 control-label">Фамилия</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" ng-model="workers.newCourier.surname" id="inputSurname2" placeholder="Фамилия">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputMiddlename2" class="col-sm-2 control-label">Отчество</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" ng-model="workers.newCourier.middlename" id="inputMiddlename2" placeholder="Отчество">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputEmail2" class="col-sm-2 control-label">E-mail</label>
					    <div class="col-sm-10">
					      <input type="email" class="form-control" ng-model="workers.newCourier.email" id="inputEmail2" placeholder="E-mail">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputPhone2" class="col-sm-2 control-label">Номер телефона</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" ng-model="workers.newCourier.phone" id="inputPhone2" placeholder="Номер телефона">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputBranch2" class="col-sm-2 control-label">Номер филиала</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" ng-model="workers.newCourier.branch" id="inputBranch2" placeholder="Номер филиала">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="selectManager1" class="col-sm-2 control-label">Менеджер</label>
					    <div class="col-sm-10">
					      <select class="form-control" id="selectManager1" ng-options="item as item.fullName for item in workers.managersList track by item.id" ng-model="workers.newCourier.manager"></select>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputDate2" class="col-sm-2 control-label">Дата начала работы</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="workers.newCourier.date" is-open="workers.datepickerOptions.opened" datepicker-options="workers.datepickerOptions" id="inputDate2" ng-click="workers.datepickerOptions.open($event)" ng-focus="workers.datepickerOptions.open($event)" />
					    </div>
					  </div>
					  <div class="form-group">
					  <div class="col-sm-offset-4 col-sm-2">
					      <button type="button" ng-click="workers.courierScreen='1'" class="btn btn-default">Назад</button>
					    </div>
					    <div class="col-sm-offset-1 col-sm-2">
					      <button type="submit" class="btn btn-default">Сохранить</button>
					    </div>
					  </div>
					  <div class="form-group form-errors">
					  	<p ng-show="workers.newCourier.usernameE"><span>*</span>Введите логин</p>
					  	<p ng-show="workers.newCourier.nameE"><span>*</span>Введите имя</p>
					  	<p ng-show="workers.newCourier.surnameE"><span>*</span>Введите фамилия</p>
					  	<p ng-show="workers.newCourier.middlenameE"><span>*</span>Введите отчество</p>
					  	<p ng-show="workers.newCourier.emailE"><span>*</span>Введите e-mail</p>
					  	<p ng-show="workers.newCourier.phoneE"><span>*</span>Введите номер телефона</p>
					  	<p ng-show="workers.newCourier.branchE"><span>*</span>Введите номер филиала</p>
					  	<p ng-show="workers.newCourier.managerE"><span>*</span>Выберите менеджера</p>
					  	<p ng-show="workers.newCourier.dateE"><span>*</span>Введите дата начала работы</p>
					  </div>
					</form>
				  </div>

				  <div class="adding-form" ng-show="workers.courierScreen=='4'">

				  <div class="table-responsive" ng-hide="workers.showCourierEditForm">
					<table class="table table-striped" at-table at-paginated at-list="workers.couriersList" at-config="workers.config">
					  <thead></thead>
					  <tbody>
					    <tr>
					    	<td at-implicit at-sortable at-attribute="id" at-title="ID"></td>
					      <td at-implicit at-sortable at-attribute="fullName" at-title="ФИО"></td>
					      <td at-implicit at-sortable at-attribute="username" at-title="Логин"></td>
					      <td at-implicit at-sortable at-attribute="email" at-title="E-mail"></td>
					      <td at-implicit at-sortable at-attribute="phone" at-title="Номер телефона"></td>
					      <td at-implicit at-sortable at-attribute="filial_id" at-title="Номер филиала"></td>
					      <td at-implicit at-sortable at-attribute="managerName" at-title="Менеджер"></td>
					      <td at-implicit at-sortable at-attribute="date_start_work" at-initial-sorting="asc" at-title="Дата начала работы"></td>
					      <td at-implicit at-title="Редактировать" ng-click="workers.showCourierEdit(item.id)"><a href=""><i class="fa fa-minus-square-o" aria-hidden="true"></i></a></td>
					    </tr>
					  </tbody>
					</table>
				</div>
				<at-pagination at-list="workers.couriersList" at-config="workers.config" ng-hide="workers.showCourierEditForm"></at-pagination>

					<form class="form-horizontal" ng-submit="workers.editCurrentCourier();" ng-show="workers.showCourierEditForm">
					<div class="form-group">
					    <label for="inputUsername2" class="col-sm-2 control-label">Логин</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" ng-model="workers.editCourier.username" id="inputUsername2" placeholder="Логин">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputPassword2" class="col-sm-2 control-label">Пароль</label>
					    <div class="col-sm-10">
					      <input type="password" class="form-control" ng-model="workers.editCourier.password" id="inputPassword2" placeholder="Пароль">
					    </div>
					  </div>
					 <div class="form-group">
					    <label for="inputName2" class="col-sm-2 control-label">Имя</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" ng-model="workers.editCourier.name" id="inputName2" placeholder="Имя">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputSurname2" class="col-sm-2 control-label">Фамилия</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" ng-model="workers.editCourier.surname" id="inputSurname2" placeholder="Фамилия">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputMiddlename2" class="col-sm-2 control-label">Отчество</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" ng-model="workers.editCourier.middlename" id="inputMiddlename2" placeholder="Отчество">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputEmail2" class="col-sm-2 control-label">E-mail</label>
					    <div class="col-sm-10">
					      <input type="email" class="form-control" ng-model="workers.editCourier.email" id="inputEmail2" placeholder="E-mail">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputPhone2" class="col-sm-2 control-label">Номер телефона</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" ng-model="workers.editCourier.phone" id="inputPhone2" placeholder="Номер телефона">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputBranch2" class="col-sm-2 control-label">Номер филиала</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" ng-model="workers.editCourier.branch" id="inputBranch2" placeholder="Номер филиала">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="selectManager1" class="col-sm-2 control-label">Менеджер</label>
					    <div class="col-sm-10">
					      <select class="form-control" id="selectManager1" ng-options="item as item.fullName for item in workers.managersList track by item.id" ng-model="workers.editCourier.manager"></select>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputDate2" class="col-sm-2 control-label">Дата начала работы</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="workers.editCourier.date" is-open="workers.datepickerOptions.opened" datepicker-options="workers.datepickerOptions" id="inputDate2" ng-click="workers.datepickerOptions.open($event)" ng-focus="workers.datepickerOptions.open($event)" />
					    </div>
					  </div>
					  <div class="form-group">
					  <div class="col-sm-offset-4 col-sm-2">
					      <button type="button" ng-click="workers.showCourierEditForm=false;" class="btn btn-default">Назад</button>
					    </div>
					    <div class="col-sm-offset-1 col-sm-2">
					      <button type="submit" class="btn btn-default">Сохранить</button>
					    </div>
					  </div>
					  <div class="form-group form-errors">
					  	<p ng-show="workers.editCourier.usernameE"><span>*</span>Введите логин</p>
					  	<p ng-show="workers.editCourier.nameE"><span>*</span>Введите имя</p>
					  	<p ng-show="workers.editCourier.surnameE"><span>*</span>Введите фамилия</p>
					  	<p ng-show="workers.editCourier.middlenameE"><span>*</span>Введите отчество</p>
					  	<p ng-show="workers.editCourier.emailE"><span>*</span>Введите e-mail</p>
					  	<p ng-show="workers.editCourier.phoneE"><span>*</span>Введите номер телефона</p>
					  	<p ng-show="workers.editCourier.branchE"><span>*</span>Введите номер филиала</p>
					  	<p ng-show="workers.editCourier.managerE"><span>*</span>Выберите менеджера</p>
					  	<p ng-show="workers.editCourier.dateE"><span>*</span>Введите дата начала работы</p>
					  </div>
					</form>
				  </div>
				</div>
				<div class="couriers-list" ng-show="userType==='manager'">
					<h3 ng-show="workers.courierScreen=='1'">Список курьеров</h3>
					<h3 ng-show="workers.courierScreen=='2'">Добавление курьера</h3>
					<h3 ng-show="workers.courierScreen=='3'">Удаление курьера</h3>
					<div class="add-delete-buttons" ng-show="workers.courierScreen!=='2' && !workers.showCourierEditForm">
						<a href="" ng-click="workers.courierScreen='2'" class="add-worker-button"><i class="fa fa-user-plus" aria-hidden="true"></i> Добавить курьера</a>
						<a href="" ng-click="workers.courierScreen='4'" class="add-worker-button"><i class="fa fa-user" aria-hidden="true"></i> Редактировать курьера</a>
						<a href="" ng-click="workers.courierScreen='3'" class="remove-worker-button"><i class="fa fa-user-times" aria-hidden="true"></i> Удалить курьера</a>
						<a href="" ng-click="workers.courierScreen='1'" ng-show="workers.courierScreen=='3' || workers.courierScreen=='4'" class="btn btn-danger btn-xs">Отменить</a>
					</div>
					<div class="table-responsive" ng-show="workers.courierScreen=='1'">
						<table class="table table-striped" at-table at-paginated at-list="workers.couriersList" at-config="workers.config">
						  <thead></thead>
						  <tbody>
						    <tr>
						    	<td at-implicit at-sortable at-attribute="id" at-title="ID"></td>
						      <td at-implicit at-sortable at-attribute="fullName" at-title="ФИО"></td>
						      <td at-implicit at-sortable at-attribute="username" at-title="Логин"></td>
						      <td at-implicit at-sortable at-attribute="email" at-title="E-mail"></td>
						      <td at-implicit at-sortable at-attribute="phone" at-title="Номер телефона"></td>
						      <td at-implicit at-sortable at-attribute="filial_id" at-title="Номер филиала"></td>
						      <td at-implicit at-sortable at-attribute="date_start_work" at-initial-sorting="asc" at-title="Дата начала работы"></td>
						    </tr>
						  </tbody>
						</table>
					</div>
					<at-pagination at-list="workers.couriersList" at-config="workers.config" ng-show="workers.courierScreen=='1'"></at-pagination>

					<div class="table-responsive" ng-show="workers.courierScreen=='3'">
						<table class="table table-striped" at-table at-paginated at-list="workers.couriersList" at-config="workers.config">
						  <thead></thead>
						  <tbody>
						    <tr>
						    	<td at-implicit at-sortable at-attribute="id" at-title="ID"></td>
						      <td at-implicit at-sortable at-attribute="fullName" at-title="ФИО"></td>
						      <td at-implicit at-sortable at-attribute="username" at-title="Логин"></td>
						      <td at-implicit at-sortable at-attribute="email" at-title="E-mail"></td>
						      <td at-implicit at-sortable at-attribute="phone" at-title="Номер телефона"></td>
						      <td at-implicit at-sortable at-attribute="filial_id" at-title="Номер филиала"></td>
						      <td at-implicit at-sortable at-attribute="date_start_work" at-initial-sorting="asc" at-title="Дата начала работы"></td>
						      <td at-implicit at-title="Удалить" ng-click="workers.removeCourier(item.id)"><a href=""><i class="fa fa-minus-square-o" aria-hidden="true"></i></a></td>
						    </tr>
						  </tbody>
						</table>
					</div>
					<at-pagination at-list="workers.couriersList" at-config="workers.config" ng-show="workers.courierScreen=='3'"></at-pagination>

					<div class="adding-form" ng-show="workers.courierScreen=='2'">
						<form class="form-horizontal" ng-submit="workers.addNewCourier();">
						<div class="form-group">
						    <label for="inputUsername2" class="col-sm-2 control-label">Логин</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" ng-model="workers.newCourier.username" id="inputUsername2" placeholder="Логин">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputPassword2" class="col-sm-2 control-label">Пароль</label>
						    <div class="col-sm-10">
						      <input type="password" class="form-control" ng-model="workers.newCourier.password" id="inputPassword2" placeholder="Пароль">
						    </div>
						  </div>
						 <div class="form-group">
						    <label for="inputName2" class="col-sm-2 control-label">Имя</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" ng-model="workers.newCourier.name" id="inputName2" placeholder="Имя">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputSurname2" class="col-sm-2 control-label">Фамилия</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" ng-model="workers.newCourier.surname" id="inputSurname2" placeholder="Фамилия">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputMiddlename2" class="col-sm-2 control-label">Отчество</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" ng-model="workers.newCourier.middlename" id="inputMiddlename2" placeholder="Отчество">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputEmail2" class="col-sm-2 control-label">E-mail</label>
						    <div class="col-sm-10">
						      <input type="email" class="form-control" ng-model="workers.newCourier.email" id="inputEmail2" placeholder="E-mail">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputPhone2" class="col-sm-2 control-label">Номер телефона</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" ng-model="workers.newCourier.phone" id="inputPhone2" placeholder="Номер телефона">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputBranch2" class="col-sm-2 control-label">Номер филиала</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" ng-model="workers.newCourier.branch" id="inputBranch2" placeholder="Номер филиала">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputDate2" class="col-sm-2 control-label">Дата начала работы</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="workers.newCourier.date" is-open="workers.datepickerOptions.opened" datepicker-options="workers.datepickerOptions" id="inputDate2" ng-click="workers.datepickerOptions.open($event)" ng-focus="workers.datepickerOptions.open($event)" />
						    </div>
						  </div>
						  <div class="form-group">
						  <div class="col-sm-offset-4 col-sm-2">
						      <button type="button" ng-click="workers.courierScreen='1'" class="btn btn-default">Назад</button>
						    </div>
						    <div class="col-sm-offset-1 col-sm-2">
						      <button type="submit" class="btn btn-default">Сохранить</button>
						    </div>
						  </div>
						  <div class="form-group form-errors">
						  	<p ng-show="workers.newCourier.usernameE"><span>*</span>Введите логин</p>
						  	<p ng-show="workers.newCourier.nameE"><span>*</span>Введите имя</p>
						  	<p ng-show="workers.newCourier.surnameE"><span>*</span>Введите фамилия</p>
						  	<p ng-show="workers.newCourier.middlenameE"><span>*</span>Введите отчество</p>
						  	<p ng-show="workers.newCourier.emailE"><span>*</span>Введите e-mail</p>
						  	<p ng-show="workers.newCourier.phoneE"><span>*</span>Введите номер телефона</p>
						  	<p ng-show="workers.newCourier.branchE"><span>*</span>Введите номер филиала</p>
						  	<p ng-show="workers.newCourier.dateE"><span>*</span>Введите дата начала работы</p>
						  </div>
						</form>
					</div>

					<div class="adding-form" ng-show="workers.courierScreen=='4'">
					<div class="table-responsive" ng-hide="workers.showCourierEditForm">
						<table class="table table-striped" at-table at-paginated at-list="workers.couriersList" at-config="workers.config">
						  <thead></thead>
						  <tbody>
						    <tr>
						    	<td at-implicit at-sortable at-attribute="id" at-title="ID"></td>
						      <td at-implicit at-sortable at-attribute="fullName" at-title="ФИО"></td>
						      <td at-implicit at-sortable at-attribute="username" at-title="Логин"></td>
						      <td at-implicit at-sortable at-attribute="email" at-title="E-mail"></td>
						      <td at-implicit at-sortable at-attribute="phone" at-title="Номер телефона"></td>
						      <td at-implicit at-sortable at-attribute="filial_id" at-title="Номер филиала"></td>
						      <td at-implicit at-sortable at-attribute="date_start_work" at-initial-sorting="asc" at-title="Дата начала работы"></td>
						      <td at-implicit at-title="Редактировать" ng-click="workers.showCourierEdit(item.id)"><a href=""><i class="fa fa-minus-square-o" aria-hidden="true"></i></a></td>
						    </tr>
						  </tbody>
						</table>
					</div>
					<at-pagination at-list="workers.couriersList" at-config="workers.config" ng-hide="workers.showCourierEditForm"></at-pagination>

						<form class="form-horizontal" ng-submit="workers.editCurrentCourier();" ng-show="workers.showCourierEditForm">
						<div class="form-group">
						    <label for="inputUsername2" class="col-sm-2 control-label">Логин</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" ng-model="workers.editCourier.username" id="inputUsername2" placeholder="Логин">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputPassword2" class="col-sm-2 control-label">Пароль</label>
						    <div class="col-sm-10">
						      <input type="password" class="form-control" ng-model="workers.editCourier.password" id="inputPassword2" placeholder="Пароль">
						    </div>
						  </div>
						 <div class="form-group">
						    <label for="inputName2" class="col-sm-2 control-label">Имя</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" ng-model="workers.editCourier.name" id="inputName2" placeholder="Имя">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputSurname2" class="col-sm-2 control-label">Фамилия</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" ng-model="workers.editCourier.surname" id="inputSurname2" placeholder="Фамилия">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputMiddlename2" class="col-sm-2 control-label">Отчество</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" ng-model="workers.editCourier.middlename" id="inputMiddlename2" placeholder="Отчество">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputEmail2" class="col-sm-2 control-label">E-mail</label>
						    <div class="col-sm-10">
						      <input type="email" class="form-control" ng-model="workers.editCourier.email" id="inputEmail2" placeholder="E-mail">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputPhone2" class="col-sm-2 control-label">Номер телефона</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" ng-model="workers.editCourier.phone" id="inputPhone2" placeholder="Номер телефона">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputBranch2" class="col-sm-2 control-label">Номер филиала</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" ng-model="workers.editCourier.branch" id="inputBranch2" placeholder="Номер филиала">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputDate2" class="col-sm-2 control-label">Дата начала работы</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="workers.editCourier.date" is-open="workers.datepickerOptions.opened" datepicker-options="workers.datepickerOptions" id="inputDate2" ng-click="workers.datepickerOptions.open($event)" ng-focus="workers.datepickerOptions.open($event)" />
						    </div>
						  </div>
						  <div class="form-group">
						  <div class="col-sm-offset-4 col-sm-2">
						      <button type="button" ng-click="workers.showCourierEditForm=false;" class="btn btn-default">Назад</button>
						    </div>
						    <div class="col-sm-offset-1 col-sm-2">
						      <button type="submit" class="btn btn-default">Сохранить</button>
						    </div>
						  </div>
						  <div class="form-group form-errors">
						  	<p ng-show="workers.editCourier.usernameE"><span>*</span>Введите логин</p>
						  	<p ng-show="workers.editCourier.nameE"><span>*</span>Введите имя</p>
						  	<p ng-show="workers.editCourier.surnameE"><span>*</span>Введите фамилия</p>
						  	<p ng-show="workers.editCourier.middlenameE"><span>*</span>Введите отчество</p>
						  	<p ng-show="workers.editCourier.emailE"><span>*</span>Введите e-mail</p>
						  	<p ng-show="workers.editCourier.phoneE"><span>*</span>Введите номер телефона</p>
						  	<p ng-show="workers.editCourier.branchE"><span>*</span>Введите номер филиала</p>
						  	<p ng-show="workers.editCourier.dateE"><span>*</span>Введите дата начала работы</p>
						  </div>
						</form>
					</div>
			</div>
		</div>
	</div>
</div>